{% extends 'base.html' %}

{% block content %}
    <h1>Your Calendar</h1>
    <div id='calendar'></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'en',
                events: '/api/events',
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: 'short'
                },
                dateClick: function (info) {
                    calendar.changeView('timeGridDay', info.dateStr);
                }
            });
            calendar.render();
        });
    </script>
{% endblock %}