{% extends 'base.html' %}

{% block content %}
    <h1>Your Appointments</h1>

    {% if appointments %}
        <ul>
            {% for appointment in appointments %}
                <li>
                    <p>Barber: {{ appointment.barber.first_name }} {{ appointment.barber.last_name }}</p>
                    <p>Date: {{ appointment.date }}</p>
                    <p>Time: {{ appointment.start_time.strftime('%H:%M') }}
                        - {{ appointment.end_time.strftime('%H:%M') }}</p>
                    <form action="{{ url_for('update_appointment', appointment_id=appointment.id) }}" method="GET"
                          style="display: inline;">
                        <button type="submit">Update</button>
                    </form>
                    <form action="{{ url_for('delete_appointment', appointment_id=appointment.id) }}" method="POST"
                          style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming appointments.</p>
    {% endif %}

{% endblock %}
